<style>
    .first-row {
        margin-left: 100px;
    }
    
    .spacing-right {
        margin-right: 50px;
    }
    
    .space-right-xs {
        margin-right: 5px;
    }
    
    .space-bottom-xs {
        margin-bottom: 5px;
    }
    
    .spacing-bottom {
        margin-bottom: 20px;
    }
    
    .button1 {
        background-color: #ecb613;
        color: white;
        border-radius: 5px;
        border: none;
        font-size: 40px;
        padding: 16px 32px;
        -webkit-box-shadow: 0px 5px 0px #cc9900;
        -moz-box-shadow: 0px 5px 0px #cc9900;
        box-shadow: 0px 5px 0px #cc9900;
        margin-top: 20px;
    }
    
    .button2 {
        background-color: #e6af57;
        color: #783a24;
        border-radius: 3px;
        border: none;
        font-size: 20px;
        /*padding: 16px 32px;*/
    }
    
    .button1:hover {
        background-color: #ffc61a;
        -webkit-box-shadow: 0px 5px 0px #e6ac00;
        -moz-box-shadow: 0px 5px 0px #e6ac00;
        box-shadow: 0px 5px 0px #e6ac00;
    }
    
    .badgeGenre {
        background-color: #a63c40;
        color: white;
    }
    
    .badgeTag {
        background-color: #8384a6;
        color: white;
    }
    
    .responsive2 {
        width: 50%;
    }
    
    .responsiveImg {
        display: flex;
        justify-content: left;
    }

    .price {
        letter-spacing: 0.05em;
    }

    .unit-price {
        font-size: 1.5em;
        font-weight: bold;
    }

    .total {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.5em;
        align-items: center;
        margin-top: 20px;
    }

    .total-price {
        margin-left: 30px;
        font-weight: bold;
        font-size: 1.8em;
    }

    .label {
        margin-right: 20px;
        font-size: 1.2em;
    }

    .quantity {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
    }

    .action {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    @media screen and (max-width: 1200px) {
        .responsive1 {
            flex-direction: column !important;
            width: 100%;
        }
        .first-row {
            margin-left: 0px !important;
        }
        .responsive2 {
            width: 100% !important;
        }
        .responsiveImg {
            display: block !important;
            margin-left: auto !important;
            margin-right: auto !important;
        }
        .total {
            margin-top: 5px !important;
            justify-content: center !important;
        }
        .quantity {
            margin-top: 5px !important;
        }
        .action {
            align-items: center;
        }
    }
</style>
<div class="d-flex flex-row responsive1">
    <div class="d-flex flex-column responsive2 first-row">
        <div class="d-flex flex-row responsive1">
            <div class="spacing-right responsiveImg">
                <jhi-book-image *ngIf="book" [imgSize]="width > 1200 ? 400 : 250" [book]="book" [borderColor]="'#AAAAAA'"></jhi-book-image>
            </div>
            <div class="d-flex flex-column">
                <h2 class="font-weight-bold spacing-bottom">{{book.title}}</h2>
                <h3 class="font-weight-bold">{{book.authors}}</h3>
                <h4 class="spacing-bottom" *ngIf="book.type">{{book.type.type}}</h4>
                <div class="d-flex flex-row spacing-bottom">
                    <span class="badge badge-pill badgeGenre space-right-xs" *ngFor="let g of book.genres">{{g.genre}}</span>
                </div>
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row space-bottom-xs" *ngFor="let tab of organizedTags">
                        <span class="badge badge-pill badgeTag space-right-xs" *ngFor="let t of tab">{{t.tag}}</span >
                    </div>
                </div>
            </div>
        </div>
        <div class="p-3">
            <p>{{book.description}}</p>
        </div>
    </div>
    <div class="action">
        <div class="price unit-price">
            {{price(book.unitPrice)}}
        </div>
        <div class="quantity">
            <div class="label">
                Quantité :
            </div>
            <input type="number" name="quantity" id="quantity" min="1" [max]="itemsInDatabase" onkeyup=imposeMinMax(this) [(ngModel)]="quantity">
        </div>
        <div class="total">
            <div>
                TOTAL
            </div>
            <div class="total-price price">
                {{price(quantity*book.unitPrice)}}
            </div>
        </div>
        
        <div class="text-center space-bottom-xs">
            <button class="button1" (click)="addToCart()">Ajouter au panier</button>
        </div>
    </div>
</div>
<script>
function imposeMinMax(el){
  if(el.value != ""){
    if(parseInt(el.value) < parseInt(el.min)){
      el.value = el.min;
    }
    if(parseInt(el.value) > parseInt(el.max)){
      el.value = el.max;
    }
  }
}
</script>