<style>
    .cards {
        max-width: 1800px;
        margin: 0 auto;
        display: grid;
        grid-gap: 1rem;
    }
    
    @media (min-width: 600px) {
        .cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    @media (min-width: 900px) {
        .cards {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    
    @media (min-width: 1200px) {
        .cards {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    
    @media (min-width: 1500px) {
        .cards {
            grid-template-columns: repeat(5, 1fr);
        }
    }
    
    @media (min-width: 1800px) {
        .cards {
            grid-template-columns: repeat(6, 1fr);
        }
    }
</style>
<div class="d-flex justify-content-center">
    <p *ngIf="books.length == 0" class="h2">Aucun livre ne correspond à votre recherche</p>
</div>
<div class="cards">
    <jhi-booklistitem *ngFor="let book of books" [myBook]=book></jhi-booklistitem>
</div>