<style>
    .cards {
        overflow: visible;
        max-width: 1850px;
        margin: 0 auto;
        display: grid;
        grid-gap: 1rem;
    }
    
    .my-border {
        width: 200px;
        box-shadow: 2px 2px 2px 2px grey;
    }
    
    .my-border:hover {
        box-shadow: 4px 4px 4px 4px grey;
    }
    
    .clic:hover {
        cursor: pointer;
    }
    
    @media (min-width: 600px) {
        .cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    @media (min-width: 900px) {
        .cards {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    
    @media (min-width: 1200px) {
        .cards {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    
    @media (min-width: 1500px) {
        .cards {
            grid-template-columns: repeat(5, 1fr);
        }
    }
    
    @media (min-width: 1800px) {
        .cards {
            grid-template-columns: repeat(6, 1fr);
        }
    }
</style>
<div class="d-flex justify-content-center">
    <p *ngIf="books.length == 0" class="h2">Aucun livre ne correspond à votre recherche</p>
</div>
<div class="cards">
    <jhi-booklistitem [routerLink]="'/'+book.id" class="my-border clic d-flex flex-column" *ngFor="let book of books" [myBook]=book></jhi-booklistitem>
</div>