{{desc}}
<div class="row justify-content-center">
    <div class="col-8">
        <form *ngIf="book" (ngSubmit)="save()">
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="eBraireApp.book.title" for="field_title">Title</label>
                <input *ngIf="book.title" type="text" class="form-control" name="title" id="field_title" [(ngModel)]="book.title" />
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="eBraireApp.book.authors" for="field_author">Author</label>
                <input *ngIf="book.authors" type="text" class="form-control" name="authors" id="field_author" [(ngModel)]="book.authors" />
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>

                <button type="submit" id="save-entity" [disabled]="isSaving" class="btn btn-primary">
                        <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                    </button>
            </div>
        </form>
    </div>
</div>