<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ordered">
            <h2><span jhiTranslate="eBraireApp.ordered.detail.title">Ordered</span> {{ ordered.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eBraireApp.ordered.commandStart">Command Start</span></dt>
                <dd>
                    <span>{{ ordered.commandStart }}</span>
                </dd>
                <dt><span jhiTranslate="eBraireApp.ordered.firstName">First Name</span></dt>
                <dd>
                    <span>{{ ordered.firstName }}</span>
                </dd>
                <dt><span jhiTranslate="eBraireApp.ordered.lastName">Last Name</span></dt>
                <dd>
                    <span>{{ ordered.lastName }}</span>
                </dd>
                <dt><span jhiTranslate="eBraireApp.ordered.delevryAddress">Delevry Address</span></dt>
                <dd>
                    <span>{{ ordered.delevryAddress }}</span>
                </dd>
                <dt><span jhiTranslate="eBraireApp.ordered.billingAddress">Billing Address</span></dt>
                <dd>
                    <span>{{ ordered.billingAddress }}</span>
                </dd>
                <dt><span jhiTranslate="eBraireApp.ordered.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'eBraireApp.Status.' + ordered.status }}">{{ ordered.status }}</span>
                </dd>
                <dt><span jhiTranslate="eBraireApp.ordered.idCustomer">Id Customer</span></dt>
                <dd>
                    <div *ngIf="ordered.idCustomer">
                        <a [routerLink]="['/customer', ordered.idCustomer?.id, 'view']">{{ ordered.idCustomer?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ordered', ordered.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
