<div>
    <h2 id="page-heading">
        <span jhiTranslate="eBraireApp.ordered.home.title">Ordereds</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ordered" [routerLink]="['/ordered/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="eBraireApp.ordered.home.createLabel">
            Create a new Ordered
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="ordereds?.length === 0">
        <span jhiTranslate="eBraireApp.ordered.home.notFound">No ordereds found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="ordereds && ordereds.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="eBraireApp.ordered.commandStart">Command Start</span></th>
                    <th scope="col" ><span jhiTranslate="eBraireApp.ordered.delevryAddress">Delevry Address</span></th>
                    <th scope="col" ><span jhiTranslate="eBraireApp.ordered.billingAddress">Billing Address</span></th>
                    <th scope="col" ><span jhiTranslate="eBraireApp.ordered.status">Status</span></th>
                    <th scope="col" ><span jhiTranslate="eBraireApp.ordered.idCustomer">Id Customer</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ordered of ordereds ;trackBy: trackId">
                    <td><a [routerLink]="['/ordered', ordered.id, 'view']">{{ ordered.id }}</a></td>
                    <td>{{ ordered.commandStart | date:'mediumDate' }}</td>
                    <td>{{ ordered.delevryAddress }}</td>
                    <td>{{ ordered.billingAddress }}</td>
                    <td jhiTranslate="{{ 'eBraireApp.Status.' + ordered.status }}">{{ ordered.status }}</td>
                    <td>
                        <div *ngIf="ordered.idCustomer">
                            <a [routerLink]="['/customer', ordered.idCustomer?.id, 'view']" >{{ ordered.idCustomer?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ordered', ordered.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ordered', ordered.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(ordered)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
