<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customer">
            <h2><span jhiTranslate="eBraireApp.customer.detail.title">Customer</span> {{ customer.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eBraireApp.customer.addressLine">Address Line</span></dt>
                <dd>
                    <span>{{ customer.addressLine }}</span>
                </dd>
                <dt><span jhiTranslate="eBraireApp.customer.addressLine2">Address Line 2</span></dt>
                <dd>
                    <span>{{ customer.addressLine2 }}</span>
                </dd>
                <dt><span jhiTranslate="eBraireApp.customer.postcode">Postcode</span></dt>
                <dd>
                    <span>{{ customer.postcode }}</span>
                </dd>
                <dt><span jhiTranslate="eBraireApp.customer.city">City</span></dt>
                <dd>
                    <span>{{ customer.city }}</span>
                </dd>
                <dt><span jhiTranslate="eBraireApp.customer.user">User</span></dt>
                <dd>
                    {{ customer.user?.id }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer', customer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
