<div class="row" >
<button id="jh-create-entity" class="btn btn-primary float-right m-2" (click)="research()">
    <fa-icon icon="search"></fa-icon>
    <span class="hidden-sm-down" >
        Rechercher
    </span>
</button>
</div>
<div class="form-group">
        Liste des catégories:
    <div *ngFor="let typeOption of types" id="field_type" name="type">
        <input type="checkbox" name="typeCheckbox" >
        <label>{{typeOption.type}}</label>
    </div>
</div>
Liste des genres:
<div class="form-group">
    <div *ngFor="let genreOption of genres" id="field_genre" name="genre">
        <input type="checkbox" name="genreCheckbox" >
        <label>{{genreOption.genre}}</label>
    </div>
</div>
Listes des thèmes:
<div class="form-group">
    <div *ngFor="let tagOption of tags" id="field_tag" name="tag">
        <input type="checkbox" name="tagCheckbox">
        <label>{{tagOption.tag}}</label>
    </div>
</div>
