<style>
    .filter {
        background-color: #a63c40;
        color: white
    }
    
    .category {
        border: 1px solid black;
        padding: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
    }
    
    .items {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        padding-top: 10px;
        padding-bottom: 2px;
    }
    
    .item {
        margin-left: 10px;
    }
    
    .container {
        border: 1px solid black;
        padding-top: 10px;
    }
    
    .label-text {
        margin: 0 5px;
    }
</style>
<div class="container">
    <div class="row">
        <button id="jh-create-entity" class="btn filter" style="margin-left: 15px; margin-bottom: 15px" (click)="research()">
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down">
            Filtrer
        </span>
    </button>
    </div>
    <div class="form-group category" (click)="cat = !cat">
        <div class="d-flex flex-row">
            Catégories&nbsp;
            <fa-icon *ngIf="!cat" class="ml-auto" icon="plus"></fa-icon>
            <fa-icon *ngIf="cat" class="ml-auto" icon="minus"></fa-icon>
        </div>
    </div>
    <div class="form-group items" [style.display]="cat ? 'flex' : 'none'">
        <div class="item d-flex flex-row" *ngFor="let typeOption of types" id="field_type" name="type">
            <input type="checkbox" name="typeCheckbox">
            <label class="label-text">{{typeOption.type}}</label>
        </div>
    </div>
    <div class="form-group category" (click)="gen = !gen">
        <div class="d-flex flex-row">
            Genres
            <fa-icon *ngIf="!gen" class="ml-auto" icon="plus"></fa-icon>
            <fa-icon *ngIf="gen" class="ml-auto" icon="minus"></fa-icon>
        </div>
    </div>
    <div class="form-group items" [style.display]="gen ? 'flex' : 'none'">
        <div class="item d-flex flex-row" *ngFor="let genreOption of genres" id="field_genre" name="genre">
            <input type="checkbox" name="genreCheckbox">
            <label class="label-text">{{genreOption.genre}}</label>
        </div>
    </div>
    <div class="form-group category" (click)="tag = !tag">
        <div class="d-flex flex-row">
            Thèmes
            <fa-icon *ngIf="!tag" class="ml-auto" icon="plus"></fa-icon>
            <fa-icon *ngIf="tag" class="ml-auto" icon="minus"></fa-icon>
        </div>
    </div>
    <div class="form-group items" [style.display]="tag ? 'flex' : 'none'">
        <div class="item d-flex flex-row" *ngFor="let tagOption of tags " id="field_tag " name="tag ">
            <input type="checkbox" name="tagCheckbox">
            <label class="label-text">{{tagOption.tag}}</label>
        </div>
    </div>
</div>