<style>
    .filter {
        align-self: flex-start;
        top: 0;
        width: 5%;
        display: flex;
        border: 1px 1px 1px 1px black;
    }
    
    .booklist {
        width: 95%;
        display: flex;
        justify-content: center
    }
    
    .buttonSandwich {
        display: none;
        position: absolute;
        top: 0px;
        left: 0px
    }
    
    @media screen and (max-width: 1200px) {
        .filter {
            display: none !important;
        }
        .booklist {
            width: 100% !important;
        }
        .buttonSandwich {
            display: block;
        }
    }
</style>
<div class="d-flex flex-row">
    <a class="buttonSandwich btn btn-secondary">
        <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="filter" id="filter">
        <jhi-filter></jhi-filter>
    </div>
    <div class="booklist">
        <jhi-booklist></jhi-booklist>
    </div>
</div>